<div class="row">

    <form class="col s12" ng-submit="categoriesData()">
        <div class="card ">
            <div class="card-content">
        <div class="row">
            <div class="input-field col s12">
                <input  id="index" type="text" class="validate" ng-model="addCategoriesCtrl.categories.index">
                <label for="index">Index</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input  id="category" type="text" class="validate" ng-model="addCategoriesCtrl.categories.name">
                <label for="category">Category Name</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input  id="phonemcode" type="text" class="validate" ng-model="addCategoriesCtrl.categories.phonem">
                <label for="phonemcode">Phonem Code</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <textarea id="Description" class="materialize-textarea" ng-model="addCategoriesCtrl.categories.description"></textarea>
                <label for="Description">Description</label>
            </div>
            </div>

                <div class="row">
                    <div class="input-field col s12">
                        <input  id="alias" type="text" class="validate" ng-model="addCategoriesCtrl.categories.alias">
                        <label for="alias">Alias</label>
                    </div>
                </div>

                <input class="waves-effect waves-light btn" type="submit" value="Add Category">
            </div>
        </div>
    </form>

</div>
